<header class="container">
		<nav id="bt-menu" class="bt-menu">
			<a href="#" class="bt-menu-trigger"><span>Menu</span></a>
				<ul>
          <li><a href="/">Home</a></li>
					<li><a href="/about">About Me</a></li>
					<li><a href="/education">Education</a></li>
					<li><a href="/project">Projects</a></li>
					<li><a href="/blog">Blog</a></li>
					<li><a href="/contact">Contact</a></li>
                    <li id="logo-ac-li"><a>
          <div class="logo-img">
          <img id="logo-ac" src="/images/logo.svg" alt="Ashish Chawda">
          </div></a>
          </li>
				</ul>
				<ul>
					<li><a href="http://www.linkedin.com/in/ashishchawda" class=""><i class="fa fa-linkedin"></i></a></li>
					<li><a href="https://github.com/pixan198" class=""><i class="fa fa-github"></i></a></li>
          <li><a href="https://www.instagram.com/_tachyon._" class=""><i class="fa fa-instagram"></i></a></li>
					<li><a href="http://www.twitter.com/ashish11chawda" class=""><i class="fa fa-twitter"></i></a></li>
				</ul>

			</nav>
      <script src="/Script/classie.js"></script>
	<script src="/Script/borderMenu.js"></script>
		</header>