<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ashish Chawda</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
	 crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
  	<link rel="stylesheet" type="text/css" href="/css/bg-vanta.css" />
</head>

<body>
	<header class="container">
  <div class="logo-img-head">
          <img id="logo-ac-head" src="/images/logo.svg" alt="Ashish Chawda">
          </div>
		<nav id="bt-menu" class="bt-menu">
			<a href="#" class="bt-menu-trigger"><span>Menu</span></a>
				<ul>
          <li><a href="/">Home</a></li>
					<li><a href="/about">About Me</a></li>
					<li><a href="/education">Education</a></li>
					<li><a href="/project">Projects</a></li>
					<li><a href="/blog">Blog</a></li>
					<li><a href="/contact">Contact</a></li>
                   <!-- <li id="logo-ac-li"><a>
          <div class="logo-img">
          <img id="logo-ac" src="/images/logo.svg" alt="Ashish Chawda">
          </div></a>
          </li> -->
				</ul>
				<ul>
					<li><a href="http://www.linkedin.com/in/ashishchawda" class=""><i class="fa fa-linkedin"></i></a></li>
					<li><a href="https://github.com/pixan198" class=""><i class="fa fa-github"></i></a></li>
          <li><a href="https://www.instagram.com/_tachyon._" class=""><i class="fa fa-instagram"></i></a></li>
					<li><a href="http://www.twitter.com/ashish11chawda" class=""><i class="fa fa-twitter"></i></a></li>
				</ul>

			</nav>
      <script src="/Script/classie.js"></script>
	<script src="/Script/borderMenu.js"></script>
		</header>
    <main>
      <div id="bg-vanta">
        <div class="main-content">
          <span class="heading-name">ASHISH CHAWDA</span>
          <span class="subtitle-name">Web Developer | Open Source Enthusiast</span>
        </div>
      </div>
    </main>
    <!-- <script src="/Script/three.r119.min.js"></script>
<script src="/Script/vanta.waves.min.js"></script>
<script>
VANTA.WAVES({
  el: "#bg-vanta",
  mouseControls: true,
  touchControls: true,
  gyroControls: false,
  minHeight: 200.00,
  minWidth: 200.00,
  scale: 1.00,
  scaleMobile: 1.00,
  shininess: 150.00,
  waveHeight: 40.00,
  waveSpeed: 2.00,
  zoom: 1.00
})
</script> -->
<script src="/Script/p5.min.js"></script>
<script src="/Script/vanta.topology.min.js"></script>
<script>
VANTA.TOPOLOGY({
  el: "#bg-vanta",
  mouseControls: true,
  touchControls: true,
  gyroControls: true,
  minHeight: 200.00,
  minWidth: 200.00,
  scale: 2.5,
  scaleMobile: 0.2,
  color: 0xff8700,
  backgroundColor: 0x161616
})
</script>
</body>
</html>