@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&display=swap');
.content{
    overflow: hidden;
}
.scene {
    position: absolute;
    top: 0;
    left: 0;
    /* height: 100vh; */
    max-width: 300%;
    max-height: 100vh;
    overflow: hidden;
    z-index: -1;
    opacity: 50%;
}
.content__inner{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

}
.content__inner{
    z-index: 10;
    color: rgb(255, 255, 255);
    height: 100%;
}
.content__title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 4vw;
}
.content__subtitle{
    width: 70vw;
    text-align: center;
    font-family: 'Montserrat',monospace;
    font-size: 2vw;
    line-height: 3vw;
}

@media screen and (max-width: 768px) {
    .content__title{
        font-size: 7vw;
        margin-top: 2rem;
    }
    .content__subtitle{
        font-size: 5vw;
        line-height: 1.5;
        width: 95%;
        
    }
}