

.demo-4 {
	--color-text: #fff;
	--color-bg: #101010;
	--color-link: #fe0e55;
	--color-link-hover: #fff;
	--color-info: #333;
	--color-title: #fff;
	--color-subtitle: rgba(255, 255, 255, 0.5);
	--color-subtitle-bg: #fe0e55;
	background: #101010 url(../img/X.svg) no-repeat 50% 50%;
	background-size: 50%;
}

.content__title {
	font-family: 'nexa_boldregular', sans-serif;
	font-size: 10vw;
	font-weight: normal;
	color: var(--color-title);
	text-align: center;
	margin: 0;
	pointer-events: none;
}

/* .content__subtitle {
	font-size: 1rem;
	color: #fff;
	padding: 0 0.75em;
	margin: 0; 
	letter-spacing: 0.5em;
	text-indent: 0.5em;
	text-align: center;
	font-weight: bold;
} */

@media screen and (max-width: 55em) {
	.content__title {
		font-size: 3.5em;
	}
	.content__subtitle {
		font-size: 0.85em;
	}
	.demo-4 {
		background-position: 50% 20em;	
	}
}